* {
    padding: 0%; margin: 1%;
}
h1 {
    text-align: center; color: darkblue;
}
section {
    text-align: center;
}
#Phone {background-color: black; color: yellow;
}
#Email {
    background-color: coral; color: blue;
}
#Instagram {
    background-color: brown; color: red;
}
body {
    background-color: rgb(233, 10, 140);
}
.ProfilePic {
    text-align: center;
}
ul {
    font-size: 30px; font-family: 'Courier New', Courier, monospace;
}
div {
    text-align: center;
}
p {
    text-align: center; font-family: 'Times New Roman', Times, serif; font-size: .5cm;
}
h2 {
    text-align: center; color: rgb(240, 255, 254);
}